

body {
  background-image: url('imgbackground.jpg');
  font-family:'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
  font-style: normal;
  margin: 1.7%;
  position: absolute;

}

header {
  padding: 15px;
  text-align: center;
  background-color: #2381A9;
  text-shadow: 2px 4px grey;
  color: white;
  font-family: Pinyon Script;
  font-weight: bold;
  font-size: 30px;

}


.topnav {
  overflow: hidden;
  background-color: white;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-shadow: none;
}

.topnav a {
  float: left;
  display: block;
  color: #063042;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: skyblue;
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

h1 {
  font-weight: bold;
}
/* unvisited link */
.body a:link {
  color: skyblue;
}

/* visited link */
.body a:visited {
  color: darkblue;
}

/* mouse over link */
.body a:hover {
  color: hotpink;
}


h2
{ text-align: center;
}

section,
aside {
  margin: 1.8%;
}

 section {
  background-color:  #2381A9;
  line-height:normal;
  float: left;
  width: 63.197026%;
  height:110%;
  position: relative;

}
 aside {
  background-color:  #2381A9;
  float: right;
  width: 29.3680297%;
  height:110%;
  position: relative;

}
table {
  font-family: 'Inconsolata', sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;

}

tr:nth-child(even) {
  background-color: skyblue;
}



input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: grey;
}

.iframe {
align-content: center;



}
.button {
  background-color: grey;
  align-items: stretch;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button4 {
  background-color: skyblue;
  color: #2381A9;
  font-weight: bold;
  width: 100%;
  border: 2px solid #e7e7e7;
  align-content: stretch;
}

.button4:hover {background-color: #e7e7e7;}



footer{
  font-family:'Montserrat';
  text-align: center;
  position: absolute fixed bottom;
  width: 100%;
  background-color: #2381A9;


}


.fa {
  font-size: 10px;
  padding:10px;
  text-align: center;
  text-decoration: none;
  margin: 3px ;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
